<div class="introduction">
    <h1>Welcome on your life buddy home page!</h1>
    <span>
        On this website you will find all information regarding your lifebuddy.
        Below you will for instance find the potential next time you will see your lifebuddy.
        On the subscription tab you will find more information about your current subscription and other available subscriptions.
        Do not forget to check out the coupons tab, it is full of surprises!
    </span>
</div>
<div class="countdown">
    <h3>
        Countdown till November 1, 2020
    </h3>
    <countdown class="countdown" units="Year | Month | Days | Hours | Minutes | Seconds"  end="November 1, 2020"></countdown>
</div>
